*.env
supabase/config.toml
node_modules/
.DS_Store
dist/
.vscode/
.idea/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache/
.next/
out/
/build/
logs/
*.log
*.tsbuildinfo
.svelte-kit/
.vite/
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej